.audio-player__container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  height: 80px;
  background-color: rgb(4, 35, 48);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 0 40px;
  z-index: 9999;
}

.player-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.progress__section{
  display: flex;
  align-items:center;
  width: 100%;
}

.audio__input{
  display: none;
}

