.search-wrapper{
  width: 340px;
  height: 40px;
  display: flex;
  border: 2px solid rgb(225, 231, 234);
  background-color: rgb(241, 246, 244);
  border-radius: 8px;
  overflow: hidden;
}

.search__input{
  flex: 1;
  border: none;
  padding: 0 20px;
  background: transparent;
  outline: none;
}

.search__icon{
  width: 24px;
  height: 24px;
  color: black;
}

.search__icon-wrapper{
  width: 48px;
  height: 100%;
  border-left: 2px solid rgb(225, 231, 234);
  display: flex;
  align-items: center;
  justify-content: center;
}