.recommended-for-you__wrapper{
  margin-top: 32px;
  margin-bottom: 32px;
}
.recommended__title {
  color: rgb(3, 43, 65);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 16px;
}
.recommended__sub-title{
  margin-bottom: 16px;
  font-size: 16px;
  color: rgb(57, 69, 71);
  font-weight: 300;
}

.recommended-book__sub-title {
  color: rgb(57, 69, 71);
  font-size: 14px;
  margin-bottom: 8px;
}

.recommended-grid {
  display: grid;
  grid-template-columns: repeat(5, 196px);
  column-gap: 16px;
}

.recommended-book {
  position: relative;
  text-decoration: none;
  max-width: 200px;
  display: flex;
  
  padding: 32px 12px 12px 12px;
  border-radius: 4px;
  text-decoration: none;
  justify-content: space-between;
}

.recommended__book--section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommended-book:hover{
  background-color: #f1f6f4;
}

.recommended-book .book__image {
  width: 100%;
  object-fit: cover;
}

.recommended-book__detail{
    padding: 32px 12px 12px 12px;
    
}

.recommended-book__image{
    height: 172px;
}

.book__background {
  background-color: rgb(251, 239, 214);
  display: flex;
  padding: 24px;
  border-radius: 4px;
  gap: 24px;
  text-decoration: none;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}

.recommended-book__title {
  color: rgb(3, 43, 65);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.recommended-book__author {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 8px;
  color: rgb(107, 117, 123);
}

.subscription__notification{
  position: absolute;
  top: 2px;
  right: 2px ;
  font-size: 10px;
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 6px;
  border-radius: 20px;
}

.duration__rating{
  display: flex;
  gap: 8px;
  color: rgb(107, 117, 123);
  font-size: 14px;
  font-weight: 300;
}

.clock-icon, 
.star-icon{
  width: 16px;
  height: 16px;
  color: rgb(107, 117, 123);
  
}

.recommended-book--rating,
.recommended-book__audio-link{
  display: flex;
  align-items:center;
  column-gap: 4px;
}

.skeleton-card{
  display: flex;
  flex-direction: column;
  gap: 8px; 
}

.skeleton__image,
.skeleton__title,
.skeleton__author,
.skeleton__duration,
.skeleton__sub-title,
.skeleton__rating{
  background: linear-gradient(90deg, #e5e7eb 25%, #f3f4f6 50%, #e5e7eb 75%);
  background-size: 200% 100%;
  animation: shimmer1.5s infinite;
} 

@keyframes shimmer {
  from {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.skeleton__image{
  width: 100%;
  aspect-ratio: 1/1.5;
}

.skeleton__title{
  width: 90%;
  height: 18px;
}

.skeleton__author{
  width: 60%;
  height: 14px;
}

.skeleton__duration{
  width: 70px;
  height: 14px;
}
.skeleton__rating{
  width: 50px;
  height: 14px;
}
.skeleton__sub-title{
  width: 80%;
  height: 14px;
}

.skeleton__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

@keyframes skeleton-loading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.5;
  }
}