.recommended-for-you__wrapper{
  margin-top: 32px;
  margin-bottom: 32px;
}
.recommended__title {
  color: rgb(3, 43, 65);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 16px;
}
.recommended__sub-title{
  margin-bottom: 16px;
  font-size: 16px;
  color: rgb(57, 69, 71);
  font-weight: 300;
}

.recommended-book__sub-title {
  color: rgb(57, 69, 71);
  font-size: 14px;
  margin-bottom: 8px;
}

.recommended-grid {
  display: grid;
  grid-template-columns: repeat(5, 196px);
  column-gap: 16px;
}

.recommended-book {
  position: relative;
  text-decoration: none;
  max-width: 200px;
  display: flex;
  
  padding: 32px 12px 12px 12px;
  border-radius: 4px;
  text-decoration: none;
  justify-content: space-between;
}

.recommended__book--section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommended-book:hover{
  background-color: #f1f6f4;
}

.recommended-book .book__image {
  width: 100%;
  object-fit: cover;
}

.recommended-book__detail{
    padding: 32px 12px 12px 12px;
    
}

.recommended-book__image{
    height: 172px;
}

.book__background {
  background-color: rgb(251, 239, 214);
  display: flex;
  padding: 24px;
  border-radius: 4px;
  gap: 24px;
  text-decoration: none;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}

.recommended-book__title {
  color: rgb(3, 43, 65);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.recommended-book__author {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 8px;
  color: rgb(107, 117, 123);
}

.subscription__notification{
  position: absolute;
  top: 2px;
  right: 2px ;
  font-size: 10px;
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 6px;
  border-radius: 20px;
}

.duration__rating{
  display: flex;
  gap: 8px;
  color: rgb(107, 117, 123);
  font-size: 14px;
  font-weight: 300;
}

.clock-icon, 
.star-icon{
  width: 16px;
  height: 16px;
  color: rgb(107, 117, 123);
  
}

.recommended-book--rating,
.recommended-book__audio-link{
  display: flex;
  align-items:center;
  column-gap: 4px;
}