.control__buttons{
  height: 40px;
  display: flex;
  align-items: center;
  column-gap: 24px;
}


.control__button{
  color: white;
  height: 28px;
  width: 28px;
  font-weight: 400;
  cursor: pointer;
}

.toggle__button{
  background-color: white;
  width: 40px;
  height: 40px;
  color: black;
  border-radius: 20px;
}