.recommended__title{
    color: rgb(3, 43, 65);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
}

.recommended__sub-title{
    color: rgb(57, 69, 71);
    font-weight: 300;
    margin-bottom: 16px;
}

.recommended-grid{
    display: grid;
    grid-template-columns: 5fr;
    gap: 32px;


}